body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
	display: inline-block;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90vw;
}

h1 {
    color: #333;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

input[type="password"] {
    padding: 10px;
    width: 80%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

submit {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4facfe;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

submit:hover {
    background-color: #00f2fe;
}



.info-table {
  border-collapse: collapse;
  width: 	auto;
  margin: 20px auto;
  font-family: "Helvetica Neue", sans-serif;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.info-table th {
  background-color: #f0f8ff;
  color: #333;
  text-align: left;
  padding: 12px 16px;
  width: auto;
  border-bottom: 1px solid #ddd;
}

.info-table td {
  background-color: #fff;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
}

.info-table tr:nth-child(even)td,
.info-table tr:nth-child(even)th{
	background-color: #f9f9f9;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 16px;
    min-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
    background-color: #4facfe;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 20px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #f9f9f9;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f1f1f1;
}

.styled-table tbody tr:hover {
    background-color: #e0f7fa;
}


.styled-link {
    color: #4facfe;
    text-decoration: none;          /* 下線を消す */
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

/* ホバー時の効果 */
.styled-link:hover {
    color: #00c6ff;
    border-bottom: 2px solid #00c6ff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}