table {
	border: 1px #7f7f7f solid;
	border-collapse: collapse;
/*	margin: 0 auto ;*/
	font-size: 1.3em;
}

th {
	background-color: #e0ffff;
	text-align: center;
	border: 1px #7f7f7f solid;
}

td {
	background-color: #ffffff;
	text-align: center;
	border: 1px #7f7f7f solid;
}

.noborder {
	border: 0px #000000 hidden;
}

sup {
	color: red;
}

input.text {
	width: 300px;
	ime-mode: auto;
}

input.id {
	float: left;
	width: 200px;
	ime-mode: disabled;
}

input.password {
	float: left;
	width: 200px;
	ime-mode: disabled;
}


h1 {
  color:#1565C0;
  text-align: center;
  padding: 5px;
  border-top: 1px solid #2196F3;
  border-bottom: 3px solid  #2196F3;
}